@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

:root {
    --background-color: #ccffdd;
    --background-lighter-color: #e6ffee;
    --background-darker-color: #b3ffcc;
    --text-color: #004d26;
    --text-darker-color: #00331a;
    --border-color: #008040;
}


a {
color: inherit;
text-decoration: none;
}


/* ------------------- nav ---------------- */

.navbar {
    background-color: var(--background-color);
}

.navbar-brand {
    color: var(--text-darker-color);
    margin-left: 3%;
    text-align: center;
    vertical-align: middle;
}

.navbar-brand > img {
    padding-right: 7%;
}

.navbar-brand > p {
    float: right;
    padding-top: 3%;
    font-size: larger;
}

.navbar-brand > p:hover, .navbar-brand > p:focus, .navbar-brand > p:hover:active, .navbar:hover, .navbar-brand:hover  {
    color: var(--text-color);
    text-decoration: none;
}


/* -------------------- main ---------------- */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 300px;
}

.border-right {
    border-right: solid 10px var(--border-color);
}

.label-firstname, .label-lastname, .label-email, .label-birthdate, .label-gender {
    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
}

.in-select-gender {
    background-color: var(--background-color) !important;
}

.custom-select:focus {
    border-color: var(--border-color) !important;
    box-shadow: 0 0 0 0.2rem var(--background-lighter-color) !important;
}

.option-gender {
    border-radius: 50%;
}

.option-gender:active, .option-gender:active, .option-gender::after, .option-gender::before {
    background-color: var(--background-lighter-color);
}

.submit {
    background-color: var(--background-darker-color) !important;
    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.4em !important;
}

.birthdateLabel, .genderLabel {
    margin-bottom: 0 !important;
    margin-top: 1.5%;
    padding-left: 0 !important;
}

.birthdate {
    margin-top: 0 !important;
}

.email {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


#input-firstname:active,#input-firstname:focus, #input-lastname:active, #input-lastname:focus, #input-email:active, #input-email:focus,
    #input-birthdate:active, #input-birthdate:focus  {
    box-shadow: 0 0 0 0.2rem var(--background-lighter-color) !important;
    border-color: var(--border-color);
}


/* ---------------------------- table --------------------------*/

caption {
    caption-side: top !important;
}
