@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

:root {
    --background-color: #ccffdd;
    --background-lighter-color: #e6ffee;
    --background-darker-color: #b3ffcc;
    --text-color: #004d26;
    --text-darker-color: #00331a;
    --border-color: #008040;
}


a {
color: inherit;
text-decoration: none;
}


.down {
    margin-top: 0%;
}

/* ------------------- nav ---------------- */

.navbar {
    background-color: var(--background-color);
    padding: 0 !important;
}

.navbar-brand {
    color: var(--text-darker-color);
    margin-left: 3%;
    text-align: center;
    vertical-align: middle;
}

.navbar-brand > img {
    padding-right: 7%;
}

.navbar-brand > p {
    float: right;
    padding-top: 3%;
    font-size: larger;
}

.navbar-brand > p:hover, .navbar-brand > p:focus, .navbar-brand > p:hover:active, .navbar:hover, .navbar-brand:hover  {
    color: var(--text-color);
    text-decoration: none;
}


/* -------------------- main ---------------- */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180vh;
    min-height: 300px;
}

.border-right {
    border-right: solid 10px var(--border-color);
}

.label-firstname, .label-lastname, .label-email, .label-birthdate, .label-gender {
    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
}

.label-filter{
    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 130%;
}

.filters {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 140%;
}

.filter {
    margin-bottom: 2%;
}

.label-image {
    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 120%;
}

.in-select-gender, .custom-file-label::after {
    background-color: var(--background-color) !important;
}

.custom-select:focus, .custom-file-label:focus {
    border-color: var(--border-color) !important;
    box-shadow: 0 0 0 0.2rem var(--background-lighter-color) !important;
}

.option-gender {
    border-radius: 50%;
}

.option-gender:active, .option-gender:active, .option-gender::after, .option-gender::before {
    background-color: var(--background-lighter-color);
}

.submit {
    background-color: var(--background-darker-color) !important;
    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.4em !important;
}

.changeBirthDate {
    background-color: var(--background-lighter-color) !important;
    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1em !important;
}

.birthdateLabel, .genderLabel {
    margin-bottom: 0 !important;
    margin-top: 1.5%;
    padding-left: 0 !important;
}

.birthdate, .filterdate {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.email {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.change-button {
    display: flex;
    justify-content: center;
}


#input-firstname:active,#input-firstname:focus, #input-lastname:active, #input-lastname:focus, #input-email:active, #input-email:focus,
    #input-birthdate:active, #input-birthdate:focus, #input-image:active, #input-image:focus  {
    box-shadow: 0 0 0 0.2rem var(--background-lighter-color) !important;
    border-color: var(--border-color);
}

.file {
    visibility: hidden;
    position: absolute;
  }


.image-choose {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* ---------------------------- table --------------------------*/

caption {
    caption-side: top !important;
}

.img-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: var(--border-color);
    box-shadow: 0px 0px 0px 4px rgba(204, 255, 221, 1);   
}

.img-avatar-no-profile {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: var(--border-color);
    box-shadow: 0px 0px 0px 4px rgba(204, 255, 221, 1); 
    padding: 7.5%;   
}


.text-id {
    width: min-content;
    margin-left: 27%;
    margin-top: 10%;
    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 120%;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting  {
    padding-left: 0;
    padding-right: 0;
}

table.dataTable thead .sorting {
    width: 50%;
}

.table .thead-dark th {
    color: var(--text-color) !important;
}

th.sorting_disabled {
    background-color: white !important;
}

.first-name-column, .last-name-column {
    width: 15% !important;
}

.id-column {
    width: 10% !important;
}

.email-column {
    width: 18% !important;
}

.birth-date-column {
    width: 16% !important;
}

hr {
    opacity: 0.5;
}

.hidden-alert {
    display: none;
}

/* .dataTables_empty {
    display: none;
} */